body {
  background-color: #151515;
  color: #ffffff;
}

.txt {
  margin: auto;
  height: 150px;
  width: 95vw;
  background-color: #000000;
  color: #fff;
  border: 2px solid #303030;
}

.elm_ {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 11px;
}

.roooot {
  display: block;
  width: 95vw;
  margin-top: 10px;
}

.btn {
  float: right;
  margin: 0;
  font-size: 12px;
  background-color: #212121;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background-color: #00ff00;
  color: #000000;
  font-weight: bold;
}

.opc {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  background-color: #008cba;
  border: 2px solid #008cba;
  font-weight: bold;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.subm {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 50vw;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 25px;
  background-color: #4caf50;
  border: 2px solid #4caf50;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btnX {
  font-size: 12px;
  margin: 0;
  padding: 5px 15px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*  border:1px solid blue;*/
}

.file1 {
  align-items: center;
  height: 20vh;
  width: 95%;
  background-color: #383838;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}

#setFile1 {
  color: #ff0;
  background-color: #404040;
  width: 100%;
}
#setFile1:hover {
  background-color: #00aa00;
  color: #000;
}
.h_2 {
  text-shadow: -4px 4px 4px #505050;
}
